<div <%= "class='entity high media_#{tweet.photos.first.media_id}'" %>>
	<div class="crop">
		<a <%= "href='#{tweet.photos.first.media_url}'" %> target="_blank">
			<img class="fluid" <%= "src='#{tweet.photos.first.media_url}'" %>/>
		</a>
	</div>
</div>
<div class"clear"></div>