<div class="tweets">
	<% @photos.each do |tweet| %>
		<%= partial :"partials/tweet", :locals => {:tweet => tweet} %>
		<div <%= "class='row-fluid borderless entity high media_#{tweet.photos.first.media_id}'" %>>
			<div class="span12 crop">
				<a <%= "href='#{tweet.photos.first.media_url}'" %> target="_blank">
					<img <%= "src='#{tweet.photos.first.media_url}'" %>/>
				</a>
			</div>
		</div>
	<% end %>
</div>