<div class="row-fluid" id="links-contents">
	<div class="span12">
		<% if @links.length > 0 %>
			<% @links.each do |link| %>
				<div class="link-box">
					<div class="link-headline">
						<a <%= "href='#{link["url"]}'" %> target="_blank" ><%= link["title"] %></a>
					</div>
					<div class='link-description'>
						<% if link["image"] %>
							<div class="link-photo">
								<img <%= "src='#{link["image"]}'" %> />
							</div>
							<div class='link-text'>
						<% else %>
							<div class='link-text' style='padding:0px'>
						<% end %>
								<div><%= link["description"] %></div>
							</div>
					</div>				
				</div>
				<div class="clear"></div>			
			<% end %>		
		<% else %>
			<div class="loading">
				<div>No interesting links posted today. Please check again later...</div>
			</div>		
		<% end %>
	</div>
</div>