<div class="row-fluid" id="photos-contents">
	<div class="span12">
		<% if @photos.length > 0 %>
			<div class="tweets">
				<% @photos.reverse.each do |tweet| %>
					<%= partial :"partials/tweet_wide", :locals => {:tweet => tweet} %>
					<div <%= "class='row-fluid borderless entity high media_#{tweet.photos.first.media_id}'" %>>
						<div class="crop2">
							<a <%= "href='#{tweet.photos.first.media_url}'" %> target="_blank">
								<img <%= "src='#{tweet.photos.first.media_url}'" %>/>
							</a>
						</div>
					</div>
				<% end %>
			</div>		
		<% else %>
			<div class="loading">
				<div>No interesting videos posted today. Please check again later...</div>
			</div>		
		<% end %>
	</div>
</div>