<div class="row-fluid" id="videos-contents">
	<div class="span12">
	<%  if @videos.length > 0 %>
		<div class="tweets">
			<% @videos.reverse.each do |tweet| %>
				<%= partial :"partials/tweet_wide", :locals => {:tweet => tweet} %>
				<div <%= "class='row-fluid borderless entity high video_#{tweet.videos.first.media_id}'" %>>
					<div class="span12">
						<iframe <%= "type='text/html' width='780' height='481' src='http://www.youtube.com/embed/#{tweet.videos.first.media_id}?autoplay=0&origin=http://rivermier.com' frameborder='0'" %> />
					</div>
				</div>
			<% end %>
		</div>	
	<% else %>
		<div class="loading">
			<div>No interesting videos posted today. Please check again later...</div>
		</div>
	<% end %>
	</div>
</div>