<!DOCTYPE html> 
<html> 
<head> 
  <meta charset="utf-8">
  <title>Rivermier</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Real-time trending topics and popular posts by the Maldivian Twitter community.">
	<meta name="google" content="notranslate" />
	<meta property="og:image" content="http://rivermier.com/assets/img/logo-medium.png"/>		
	<meta property="og:title" content="Rivermier | Dhivehi Tweets and Trends"/>		
	<meta property="og:url" content="http://rivermier.com"/>		
	<meta property="og:site_name" content="Rivermier.com"/>		
	<meta property="og:type" content="website"/>
	<link rel="icon" href="/assets/img/favicon.ico" />
	<link rel="apple-touch-icon" href="/assets/img/logo.jpg">	
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
	<link rel="stylesheet" href="/assets/css/mobile.css" />
	<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script src="/assets/js/lib.min.js"></script>	
	<script src="/assets/js/mob.js"></script>		
	<script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-155372-9']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>	
</head> 
<body> 
	<div data-role="page" id="trend-makers">
		<div data-role="header" data-id="navigation">
			<h1><img src="/assets/img/logo-bar.png" /> Rivermier</h1>
			<div data-role="navbar">
				<ul>
					<li><a href="#trend-makers" data-transition="none" class="ui-state-persist ui-btn-active">Trend Makers</a></li>
					<li><a href="#popular-tweets" data-transition="none" class="ui-state-persist">Popular Tweets</a></li>
					<li><a href="#photos" data-transition="none" class="ui-state-persist">Photos</a></li>
				</ul>
			</div>			
		</div>
		<div data-role="content" data-title="Trend Makers" id="trend-makers-content">
			<div id="trends">
				<div class="trends-title">Current Trends</div>
				<p><%= @trends.join(", ") %></p>
			</div>
			<div class="tweets">
				<%= partial :"mobile/partials/tweet", :collection => @tweets %>
			</div>			
		</div>
	</div>
	<div data-role="page" id="popular-tweets" data-title="Popular Tweets">
		<div data-role="header" data-id="navigation">
			<h1><img src="/assets/img/logo-bar.png" /> Rivermier</h1>
			<div data-role="navbar">
				<ul>
					<li><a href="#trend-makers" data-transition="none" class="ui-state-persist">Trend Makers</a></li>
					<li><a href="#popular-tweets" data-transition="none" class="ui-btn-active ui-state-persist">Popular Tweets</a></li>
					<li><a href="#photos" data-transition="none" class="ui-state-persist">Photos</a></li>
				</ul>
			</div>			
		</div>
		<div data-role="content" data-title="Popular Tweets" id="popular-tweets-content">					
		</div>
	</div>	
	<div data-role="page" id="photos" data-title="Photos">
		<div data-role="header" data-id="navigation">
			<h1><img src="/assets/img/logo-bar.png" /> Rivermier</h1>
			<div data-role="navbar">
				<ul>
					<li><a href="#trend-makers" data-transition="none" class="ui-state-persist">Trend Makers</a></li>
					<li><a href="#popular-tweets" data-transition="none" class="ui-state-persist">Popular Tweets</a></li>
					<li><a href="#photos" data-transition="none" class="ui-btn-active ui-state-persist">Photos</a></li>
				</ul>
			</div>			
		</div>
		<div data-role="content" data-title="Photos" id="photos-content">		
		</div>
	</div>	
</body>
</html>
